body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
}

#map {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
}

.navbar {
    background-color: #1d3557;
    color: white;
    padding: 10px 20px;
}

.navbar img {
    height: 50px;
    margin-right: 20px;
}

#searchForm {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

#map {
    height: calc(100vh - 60px);
    margin-top: 10px;
}

.leaflet-bar a.toggle-auto-focus {
    background-size: contain;
    width: 30px;
    height: 30px;
}

button {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 1;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background-color: #e63946; /* Red Olympic color */
    color: white;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #f77f00; /* Orange shade */
}

.group {
    display: flex;
    align-items: center;
}

.input {
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
    margin-right: 10px;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus, .input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.leaflet-bar a.manual-zoom-control {
    background-size: contain;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    #searchForm {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }

    .input, button {
        width: 100%;
        margin: 5px 0;
    }

    .logo1 {
        height: 50px;
        margin-right: 118px;
    }
    .logo2 {
        height: 50px;
        margin-left: 118px;
    }
}

@media (max-width: 600px) {
    #map {
        height: 580px;
    }
}
